<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>OurProject</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/blog-post.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/ourProject">OurProject</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/ourProject">Inicio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ourProject/myProfile">Perfil</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">Crear nuevo proyecto</h1>

        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Descripción del proyecto:</h5>
          <div class="card-body">
            <form method = "post" action = "/ourProject/project/create" enctype = "multipart/form-data">
              <p class="masthead-subheading font-weight-light mb-0">Nombre</p>
              <div class="form-group">
                  <input class="form-control" name = "nombre" required></textarea>
              </div>
              <p class="masthead-subheading font-weight-light mb-0">Descripción</p>
              <div class="form-group">
                <textarea class="form-control" rows="3" name = "descripcion" required></textarea>
              </div>
              <div class="form-group" style= "padding-bottom: 10px;">
              	<p class="masthead-subheading font-weight-light mb-0">Foto del proyecto</p>
              	<input type="file" name="imagenFile"  accept= ".jpg, .jpeg, .png">
              </div>
              <div class="form-group" >
                <p class="masthead-subheading font-weight-light mb-0">Tipo de cuenta</p>
                <div>
                <select class="selection-2 select2-hidden-accessible" name="service" tabindex="-1" aria-hidden="true">
                <option>Tarjeta de crédito</option>
                <option>Paypal</option>
                </select>
              </div>
              <p style = "padding-top: 10px;"    class="masthead-subheading font-weight-light mb-0">Numero de cuenta</p>
              <div class="form-group">
                  <input class="form-control" name = "accountID" required></textarea>
              </div  >
              <div>
              	<p>Metas del proyecto</p>
              	<div style = "padding-bottom: 10px">
              		<p>Meta 1 </p>
              			<input type = "number" placeholder = "Cantidad de dinero" step="0.1" min="0" name = "m1_cant"  required>
              			<input type = "text" placeholder = "Descripción de la meta" name = "m1_desc" required>
              	</div>
              	<div style = "padding-bottom: 10px">
              		<p>Meta 2 </p>
              			<input type = "number" placeholder = "Cantidad de dinero" step="0.1" min="0" name = "m2_cant">
              			<input type = "text" placeholder = "Descripción de la meta" name = "m2_desc">
              	</div>
              	<div style = "padding-bottom: 10px">
              		<p>Meta 3 </p>
              			<input type = "number" placeholder = "Cantidad de dinero" step="0.1" min="0" name = "m3_cant">
              			<input type = "text" placeholder = "Descripción de la meta" name = "m3_desc">
              	</div>
              	<div style = "padding-bottom: 10px">
              		<p>Meta 4 </p>
              			<input type = "number" placeholder = "Cantidad de dinero" step="0.1" min="0" name = "m4_cant">
              			<input type = "text" placeholder = "Descripción de la meta" name = "m4_desc">
              	</div>
              	<div style = "padding-bottom: 10px">
              		<p>Meta 5 </p>
              			<input type = "number" placeholder = "Cantidad de dinero" step="0.1" min="0" name = "m5_cant">
              			<input type = "text" placeholder = "Descripción de la meta" name = "m5_desc">
              	</div>
              </div>
              <div>
              	<p>Recompensas a los contribuyentes</p>
              	<div style = "padding-bottom: 10px">
              		<p>Recompensa 1 </p>
              			<input type = "number" placeholder = "Cantidad requerida" step="0.1" min="0" name = "r1_cant"  required>
              			<input type = "text" placeholder = "Descripción" name = "r1_desc" required>
              	</div>
              	<div style = "padding-bottom: 10px">
              		<p>Recompensa 2 </p>
              			<input type = "number" placeholder = "Cantidad requerida" step="0.1" min="0" name = "r2_cant">
              			<input type = "text" placeholder = "Descripción" name = "r2_desc">
              	</div>
              	<div style = "padding-bottom: 10px">
              		<p>Recompensa 3 </p>
              			<input type = "number" placeholder = "Cantidad requerida" step="0.1" min="0" name = "r3_cant">
              			<input type = "text" placeholder = "Descripción" name = "r3_desc">
              	</div>
              	<div style = "padding-bottom: 10px">
              		<p>Recompensa 4 </p>
              			<input type = "number" placeholder = "Cantidad requerida" step="0.1" min="0" name = "r4_cant">
              			<input type = "text" placeholder = "Descripción" name = "r4_desc">
              	</div>
              	<div style = "padding-bottom: 10px">
              		<p>Recompensa 5 </p>
              			<input type = "number" placeholder = "Cantidad requerida" step="0.1" min="0" name = "r5_cant">
              			<input type = "text" placeholder = "Descripción" name = "r5_desc">
              	</div>
              </div>
              <input type = "hidden" name = "newProject">
              <input type = "hidden" name = "id" value = "-1">
              
              <button type="submit" class="btn btn-primary">Crear proyecto</button>
            </form>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
